#!/usr/bin/env sh
# shellcheck disable=SC1090

# echo
echo_date() { echo "[$(date +'%Y-%m-%d %H:%M:%S')] $*" >&2; }

# envrc
dotenv_if_exists '.env'

# local
source_env_if_exists '.envrc.local'

# uv
if command -v uv >/dev/null 2>&1; then
	activate='.venv/bin/activate'
	if [ -f "$activate" ]; then
		. "$activate"
	else
		uv venv
	fi
	uv sync --all-extras --all-groups --active --locked
else
	echo_date "ERROR: 'uv' not found" && exit 1
fi
