#!/usr/bin/env sh
# shellcheck disable=SC1090

# env
dotenv_if_exists '.env'

# local
source_env_if_exists '.envrc.local'

###############################################################################

# certificates
if [ -z "$PATH_AUTHORITIES" ]; then
	echo_date "WARNING: '\$PATH_AUTHORITIES' is undefined"
elif ! [ -d "$PATH_AUTHORITIES" ]; then
	echo_date "WARNING: \$PATH_AUTHORITIES='$PATH_AUTHORITIES' is not a directory"
fi
if [ -z "$PATH_CERTIFICATES" ]; then
	echo_date "WARNING: '\$PATH_CERTIFICATES' is undefined"
elif ! [ -d "$PATH_CERTIFICATES" ]; then
	echo_date "WARNING: \$PATH_CERTIFICATES='$PATH_CERTIFICATES' is not a directory"
fi

# package
if PACKAGE_NAME=$(yq '.project.name' pyproject.toml); then
	export PACKAGE_NAME
else
	echo_date "ERROR: failed to determine '\$PACKAGE_NAME'" && exit 1
fi
if PACKAGE_VERSION=$(bump-my-version show current_version); then
	export PACKAGE_VERSION
	PACKAGE_VERSION_MAJOR=$(echo "$PACKAGE_VERSION" | cut -d. -f1)
	export PACKAGE_VERSION_MAJOR
	PACKAGE_VERSION_MAJOR_MINOR=$(echo "$PACKAGE_VERSION" | cut -d. -f1,2)
	export PACKAGE_VERSION_MAJOR_MINOR
else
	echo_date "ERROR: failed to determine '\$PACKAGE_VERSION'" && exit 1
fi

# python
if [ -n "$PYTHON_VERSION" ]; then
	export UV_PYTHON="$PYTHON_VERSION"
else
	echo_date "ERROR: '\$PYTHON_VERSION' is undefined" && exit 1
fi

# subnet
if [ -z "$SUBNET" ]; then
	echo_date "ERROR: '\$SUBNET' is undefined" && exit 1
fi

# uv
if command -v uv >/dev/null 2>&1; then
	activate='.venv/bin/activate'
	if [ -f $activate ]; then
		. $activate
	else
		uv venv
	fi
	uv sync --all-extras --all-groups --active --locked
else
	echo_date "ERROR: 'uv' not found" && exit 1
fi
