#!/usr/bin/env sh
# shellcheck disable=SC1090

# echo
echo_date() { echo "[$(date +'%Y-%m-%d %H:%M:%S')] $*" >&2; }

# env
dotenv_if_exists '.env'

# local
source_env_if_exists '.envrc.local'

###############################################################################

# package
if command -v yq >/dev/null 2>&1; then
	PACKAGE_NAME=$(yq '.project.name' pyproject.toml)
	export PACKAGE_NAME
	PACKAGE_NAME_UNDERSCORE=$(printf '%s' "$PACKAGE_NAME" | tr '-' '_')
	export PACKAGE_NAME_UNDERSCORE
	if yq --exit-status --input-format toml --output-format yaml \
		'.project."optional-dependencies".scripts' pyproject.toml >/dev/null 2>&1; then
		export PACKAGE_HAS_SCRIPTS=1
	else
		export PACKAGE_HAS_SCRIPTS=0
	fi
else
	echo_date "WARNING: 'yq' not found"
fi
if command -v bump-my-version >/dev/null 2>&1; then
	PACKAGE_VERSION=$(bump-my-version show current_version)
	export PACKAGE_VERSION
	PACKAGE_VERSION_MAJOR=$(echo "$PACKAGE_VERSION" | cut -d. -f1)
	export PACKAGE_VERSION_MAJOR
	PACKAGE_VERSION_MAJOR_MINOR=$(echo "$PACKAGE_VERSION" | cut -d. -f1,2)
	export PACKAGE_VERSION_MAJOR_MINOR
else
	echo_date "WARNING: 'bump-my-version' not found"
fi

# python
if [ -n "$PYTHON_VERSION" ]; then
	export UV_PYTHON="$PYTHON_VERSION"
else
	echo_date "ERROR: '\$PYTHON_VERSION' is undefined" && exit 1
fi

# subnet
if [ -z "$SUBNET" ]; then
	echo_date "ERROR: '\$SUBNET' is undefined" && exit 1
fi

# uv
if command -v uv >/dev/null 2>&1; then
	activate='.venv/bin/activate'
	if [ -f $activate ]; then
		. $activate
	else
		uv venv
	fi
	uv sync --all-extras --all-groups --active --locked
else
	echo_date "ERROR: 'uv' not found" && exit 1
fi
