#!/usr/bin/env sh
# shellcheck disable=SC1090

# uv
if command -v uv >/dev/null 2>&1; then
	activate='.venv/bin/activate'
	if ! [ -f $activate ]; then
		uv venv --no-config
	fi
	. $activate
else
	echo_date "ERROR: 'uv' not found" && exit 1
fi
