#!/usr/bin/env sh
# shellcheck disable=SC1090

# uv
export UV_MANAGED_PYTHON='true'
export UV_PRERELEASE='disallow'
export UV_PYTHON='3.13'
activate='.venv/bin/activate'
if [ -f "$activate" ]; then
	. "$activate"
else
	if command -v uv >/dev/null 2>&1; then
		uv venv
	else
		echo "ERROR: 'uv' is needed to create the virtual environment"
	fi
fi
if command -v uv >/dev/null 2>&1; then
	uv sync --all-extras --active --locked
else
	echo "ERROR: 'uv' is needed to synchronize the virtual environment"
fi
