#!/usr/bin/env sh
# shellcheck disable=SC1090

# uv
export UV_MANAGED_PYTHON='true'
export UV_PRERELEASE='disallow'
export UV_PYTHON='3.13'
activate='.venv/bin/activate'
if ! [ -f "$activate" ]; then
	uv venv
fi
. "$activate"
uv sync --all-extras --active --locked
