[submodule "neovim/lazyvim"]
	path = neovim/lazyvim
	url = https://github.com/lazyvim/starter
[submodule "submodules/installer"]
	path = submodules/installer
	url = https://github.com/dycw/installer.git
